* {
  font-family: "Hurmit Nerd Font Mono",monospace;
  font-size: 13px;
}

window#waybar {
  background: #282828;
  color: #ebdbb2;
}

#workspaces button.focused {
  background: #fabd2f;
  color: #282828;
}

#clock,
#battery,
#network,
#pulseaudio,
#bluetooth {
  padding: 0 10px;
}

tooltip {
  background-color: #282828;
  border-radius: 4px;
}

tooltip label {
  color: #ebdbb2;
}
