window {
  font-family: "Hurmit Nerd Font Mono";
  background: #282828;
  border-radius: 12px;
  border: 2px solid #fabd2f; 
}

#input {
  margin: 12px;
  border: none;
  background: #3c3836;
  color: #ebdbb2;
}

#entry {
  padding: 6px;
  color: #ebdbb2;
}

#entry:selected {
  background: #fabd2f;
  
  color: #282828;
}
